<div id="login" class="row">
  <div class="col-md-6 col-md-offset-3">

    <center><h2>Login</h2></center>
    <form data-ng-submit="signin()">
      <fieldset>
        <div class="col-lg-12 input-group">

          <input type="text" id="username" data-ng-model="credentials.username" placeholder="Username" name="username" class="input-lg col-lg-12"/>
          <input type="password" id="password" data-ng-model="credentials.password" placeholder="Password" name="password" class="input-lg col-lg-12"/>

          <div data-ng-show="error" class="text-center text-danger"><strong data-ng-bind="error"></strong></div>

        </div>
    <h2><small><a href="#!/reserve"><span class="entypo-right-circled"></span> Submit</a></small></h2>
      </fieldset>
    </form>


<!--   </div>
    <div class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <li ui-route="/signup" ng-class="{active: $uiRoute}">
        <a href="/#!/signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-route="/signin" ng-class="{active: $uiRoute}">
        <a href="/#!/signin">Sign In</a>
      </li>
    </ul>
      </li>
    </div> -->
</div>