<div id="reserve" class="row" data-ng-controller="ReservationController">
  <div class="col-md-6 col-md-offset-3">
    <h2>Make a reservation</h2>
    <form class="col-md-12">
      <h3>Name</h3>
      <div id="name-fields">
        <input class="input-lg col-md-6" type="text" name="first-name" placeholder= "First"/>
        <input class="input-lg col-md-6" type="text" name="last-name" placeholder="Last" />
      </div>
      <h3>Popcorn Preference</h3>
        <label ng-click="pop()">
          <input name="pop-type" type="radio" value="plain">
          <img src="modules/core/img/kernel.png" data-alt-src="modules/core/img/popcorn.png">
          <h3><small>Plain</small></h3>
        </label>
        <label ng-click="pop()">
          <input name="pop-type" type="radio" value="kettle corn">
          <img src="modules/core/img/kernel.png" data-alt-src="modules/core/img/kettle_corn.png">
          <h3><small>Kettle Corn</small></h3>
        </label>
        <label ng-click="pop()">
          <input name="pop-type" type="radio" value="cheddar">
          <img src="modules/core/img/kernel.png">
          <h3><small>Cheddar</small></h3>
        </label>
        <label ng-click="pop()">
          <input name="pop-type" type="radio" value="caramel corn">
          <img src="modules/core/img/kernel.png" data-alt-src="modules/core/img/caramel_corn.png">
          <h3><small>Caramel Corn</small></h3>
        </label>
      <h3>Bowls</h3>
      <div class="input-group spinner">
        <input type="text" value="0">
        <div class="input-group-btn-vertical">
          <button ng-click="increment()" class="btn"><span class="entypo-up-open-mini"></span></button>
          <button ng-click="decrement()" class="btn"><span class="entypo-down-open-mini"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>