<section data-ng-controller="ReservationsController" data-ng-init="find()">
	<h1><small>Reservations</small></h1>
	</div>
	<table class="col-sm-12">
		<tr>
			<th>Date Created</th>
			<th>Name</th>
			<th>Status</th>
			<th>Type</th>
			<th>Bowls</th>
		</tr>
		<tr data-ng-repeat="reservation in reservations" data-ng-href="#!/reservations/{{reservation._id}}/edit">
			<td>{{reservation.created | date:'longDate'}}</td>
			<td>{{reservation.user.displayName}}</td>
			<td>{{reservation.status}}</td>
			<td>{{reservation.popcorn}}</td>
			<td>{{reservation.bowls}}</td>
		</tr>
	</div>
</section>
